<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" type='text/css'>
    
    
</head>
<body>
    <div class="full-width NavBar">
		<div class="full-width text-semi-bold NavBar-logo">
			<img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="Logo de MartialApps" style="width: 230px; width: 58px;"> 
		</div>
		<nav class=" full-width NavBar-Nav">
			<div class="full-width NavBar-Nav-bg hidden-md hidden-lg show-menu-mobile"></div>
			<ul class="list-unstyled full-width menu-mobile-c">
				<div class="full-width hidden-md hidden-lg header-menu-mobile">
					<i class="fa fa-times header-menu-mobile-close-btn show-menu-mobile" aria-hidden="true"></i>
					<i class="fa fa-user NavBar-Nav-icon header-menu-mobile-icon" aria-hidden="true"></i>
					<a href="login.html" class="btn btn-info header-menu-mobile-btn"></a>INICIAR SESIÓN
					<div class="divider"></div>
					<a href="newaccount.html" class="btn btn-primary header-menu-mobile-btn"></a>CRÉATE UNA CUENTA
				</div>
				<li>
					<a href="index.html">
						<i class="fa fa-home fa-fw hidden-md hidden-lg" aria-hidden="true">INICIO</i>
					</a>
				</li>
				<li>
					<a href="about.html">
						<i class="fa fa-life-ring fa-fw hidden-md hidden-lg" aria-hidden="true">ACERCA DE NOSOTROS</i> 
					</a>
				</li>
				<li>
					<a href="newaccount.html">
						<i class="fa fa-life-ring fa-fw hidden-md hidden-lg" aria-hidden="true">REGISTRATE</i>
					</a>
				</li>
				<li class="hidden-xs hidden-sm"><i class="fa fa-user NavBar-Nav-icon btn-PopUpLogin" aria-hidden="true"></i></li>
			</ul>
		</nav>
		<i class="fa fa-bars hidden-md hidden-lg btn-mobile-menu show-menu-mobile" aria-hidden="true"></i>
		<i class="fa fa-search hidden-md hidden-lg btn-mobile-menu btn-search-mobile" aria-hidden="true"></i>
	</div>
	<section class=" full-width PopUpLogin">
		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#LoginTab1" aria-controls="LoginTab1" role="tab" data-toggle="tab">¡Bienvenido!</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="LoginTab1">
				<form action="login.html" style="padding-top: 15px;">
					<div class="form-group">
					    <input type="email" class="form-control input-lg" placeholder="Correo electronico" required="">
					</div>
					<div class="form-group">
					    <input type="password" class="form-control input-lg" placeholder="Contraseña" required="">
					</div>
					<a class="text-left text-light" href="#!">No recuerdo mi contraseña</a>
					<div class="checkbox full-width">
					    <label>
					      <input type="checkbox"> No cerrar sesión
					    </label>
					</div>
					<button class="btn btn-danger btn-lg" type="submit">INICIAR SESIÓN</button>
				</form>
				<div class="full-width divider"></div>
				<h4 class="text-center">¿Aún no tienes cuenta?</h4>
				<a class="text-light" href="/registro">CRÉATE UNA GRATIS</a>
			</div>
		</div>
	</section>
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="{{ url_for('static', filename='/js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
	
    {% block content %}{% endblock %}
</body>
</html>